<div class="mt-4">
    <form method="POST">
  <div class="form-group">
    <label for="exampleInputInformation1">Information </label>
    <input type="Information" name="q" class="form-control" id="exampleInputInformation1" aria-describedby="InformationHelp" placeholder="Enter Information">
    <small id="InformationHelp" class="form-text text-muted">We'll never share your Information with anyone else.</small>
  </div>
  <button type="search" class="btn btn-primary">search</button>
</form>
</div>